<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.8" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.8" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.8" />
  <package id="System.IO.Pipelines" version="10.0.8" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="System.Text.Encodings.Web" version="10.0.8" />
  <package id="System.Text.Json" version="10.0.8" manuallyInstalled="true" />
</packages>